// Colors
$mainBgColor: #0e0d0d;
$mainCompColor: #000;
$activeAndInputBgColor: #29324f;
$scroll: #60658a;
$btnBgColor: #fff;
$btnBgHoverColor: #ff0021;

$mainColor: #ff0021;
$whiteColor: #fff;
$yellowColor: #FFD033;

$svgColor: #fff;
$svgHoverColor: #ff0028;