@import './../../styles/variables';

.skills {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-color: $mainBgColor;
}

.content {
    display: flex;
    flex-direction: column;
}
