@import './../../styles/variables';

.navigation {
    background-color: $mainCompColor;
    position: fixed;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    width: 69px;
    min-height: 100vh;
    z-index: 999;

    @media (min-width: 512px) {
        display: flex;
    }

    svg {
        width: 20px;
        height: 20px;
        fill: $svgColor;
        transition: .2s;

        &:hover {
            fill: $svgHoverColor;
        }
    }
}

.active {
    svg {
        fill: $svgHoverColor;
    }
}

.logo {
    width: 59px;
    height: 60px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.links {
    .link {
        display: inline-block;
        margin-bottom: 30px;
        svg {
            width: 25px;
            height: 25px;
        }
    }
}



.socials {

    .social a {
        display: inline-block;
        margin-bottom: 20px;
    }
}
