@import './../../styles/variables';

.contacts {
    display: flex;
    justify-content: space-around;
    // min-height: 100vh;
    width: 100%;
    min-height: 100vh;
    background-color: $mainBgColor;
}

.content {
    display: flex;
    flex-direction: column;
    padding-top: 40%;
    z-index: 999;

    a {
        border-color: #ff00ff;
        display: flex;
        line-height: 0;
        height: 60px;
        width: 200px;

        span {
            color: #ff00ff !important;
        }

        &:hover {
            span {
                color: $mainColor !important;
            }
        }
    }
}