@import './../../styles/variables';

.contacts {
    position: relative;
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: $mainBgColor;

    @media (min-width: 1200px) {
        min-height: 100vh;
    }
}

.content {
    display: flex;
    flex-direction: column;
    padding-top: 70px;
    z-index: 999;

    @media (min-width: 768px) {
        padding-top: 750px;
    }
}