@import './../../styles/variables';

.contacts {
    position: relative;
    display: flex;
    justify-content: space-around;
    width: 100%;
    min-height: 100vh;
    background-color: $mainBgColor;
}

.content {
    display: flex;
    flex-direction: column;
    padding-top: 570px;
    z-index: 999;

    @media (min-width: 580px) {
        padding-top: 750px;
    }
}