@import './styles/variables';

.app {
    display: flex;
    min-height: 100vh;
    background-color: $mainBgColor;
}

.content {
    width: 100%;
    background-color: $mainBgColor;

    @media (min-width: 512px) {
        padding-left: 69px;
    }
}