.sabers {
  display: flex;
}

.hilt {
  cursor:crosshair;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  outline:none;
  height: 15px;
  width: 110px;
  font-size: 10px;
  background: linear-gradient(180deg, #737373, #111);
  border-radius: 3px 0 0 3px;
  border: 2px outset #737373;
  -webkit-box-reflect: below 1px linear-gradient(180deg, transparent, rgba(255,255,255,0.3));
  font-style: italic;
  font-weight: 700;
  color: #b8b4b4;

  @media (min-width: 340px) {
    width: 120px;
    font-size: 11px;
  }

  @media (min-width: 569px) {
    font-size: 14px;
    height: 20px;
    width: 140px;
  }
}
.hilt:active {
  border: 2px outset #737373;
}

.saber {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15px;
  width: 0px;
  background: #fff;
  border-radius: 0 50px 50px 0;
  position:relative;
  right: 5px;
  -webkit-box-reflect: below 1px linear-gradient(180deg, transparent, rgba(255,255,255,0.2));
  transition: all 1s;
  visibility: hidden;
  opacity: 0;

  span {
    visibility: hidden;
    opacity: 0;
    font-style: italic;
    font-size: 12px;
    transition: all .5s;
    letter-spacing: 0.5px;
    transition: none;
  }

  @media (min-width: 569px) {
    height: 20px;

    span {
      font-size: 14px;
      letter-spacing: 1px;
    }
  }
}

.activated {
  visibility: visible;
  opacity: 1;
  width: 205px;
  z-index: 999;
  
  span {
    transition: 5s;
    visibility: visible;
    opacity: 1;
  }

  @media (min-width: 340px) {
    width: 215px;
  }

  @media (min-width: 569px) {
    width: 320px;
  }

  @media (min-width: 768px) {
    width: 450px;
  }
}

.darkSaber {
  background: #000;
  border-radius: 0 50px 0 0;
}

.skill {
  position: absolute;
  z-index: 999;
}

.description {
  display: none;
}